<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Draught</name>
    <description>
        Arcade puzzle game for kids
    </description>
    <author email="alihassaan@gmail.com" href="http://paritravel.com">
        Maverick Khan
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="draught.jpg" />	
</widget>
